
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;700&display=swap');





.home {
  width: 75%; 
 height: auto;
  display: flex; 
  flex-direction: row;  
  justify-content: space-between; /* محاذاة رأسية للنصوص */ 
  align-items: center; /* يبدأ من اليسار */ 
  box-sizing: border-box; 
  text-align: left; 
  position: relative; 
  transform: translateY(5%);  
  margin: 0 auto; /* يخلي البلوك في النص (المسافة الزيادة تتوزع يمين ويسار) */
  
}


.home h1 {
  color: var(--second-bg-color); /* لون العنوان */
  font-size: 2.5rem;
  margin-bottom: 1rem;
  width: 450px;
  font-weight: 700;
 
 
}

.home .text p {
  color: black; /* درجة أفتح للنصوص */
  font-size: 1.2rem;
  margin: 0.3rem 0;
  font-weight: 400;
  
}

.home .shop-btn {
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-color: #e85b88; /* زر بلون أفتح */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: 700;
}

.home .shop-btn:hover {
  background-color: #b6365b; /* أغمق عند الهوفر */
}


.home #right{
   flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
 
    
}

 #canvas{
    width: 100%;
    height: 500px; 
     
}
 
 
@media (max-width: 1325px){
    .home h1{
        font-size: 2rem;
        width: 390px;
    }
    .home .text p{
        font-size: 1.2rem;
        
    }
.home .shop-btn{
   padding: 0.8rem 2rem;
   font-size: 1rem;

}

}
@media (max-width: 1251px){
    .home h1{
        font-size: 2rem;
        width: 380px;
    }
    .home .text p{
        font-size: 1.2rem;
        
    }
.home .shop-btn{
   padding: 0.8rem 2rem;
   font-size: 1rem;
    
}

}
@media (max-width: 1239px){
     .home h1{
        font-size: 2rem;
        width: 370px;
    }
} 
@media (max-width: 1228px){
     .home h1{
        font-size: 1.9rem;
        width: 350px;
    }
      .home .text p{
        font-size: 1.1rem;
        
    }
.home .shop-btn{
   padding: 0.69rem 1.85rem;
   font-size: 1rem;
    

}}

@media (max-width: 1205px){
     .home h1{
        font-size: 1.8rem;
        width: 330px;
    }
      .home .text p{
        font-size: 0.9rem;
        
    }
.home .shop-btn{
   padding: 0.7rem 1.9rem;
   font-size: 1rem;
    
}

}

@media (max-width: 1183px){
     .home h1{
        font-size: 1.75rem;
        width: 310px;
        
    }
      .home .text p{
        font-size: 0.85rem;
        
    }
.home .shop-btn{
   padding: 0.65rem 1.85rem;
   font-size: 1rem;
    
}
}

@media (max-width: 1160px){
     .home h1{
        font-size: 1.7rem;
        width: 290px;
    }
      .home .text p{
        font-size: 0.8rem;
        
    }
.home .shop-btn{
   padding: 0.6rem 1.8rem;
   font-size: 1rem;
    
}
}

@media (max-width: 1137px){
     .home h1{
        font-size: 1.7rem;
        width: 290px;
    }
      .home .text p{
        font-size: 1rem;
    }
    .home {
  width: 84%; 
}
  
 }



@media (max-width: 1083px){

#feac::before {
  position: relative;   /* عشان before يتمركز بالنسبة له */
  height: 200px;        /* لازم ارتفاع */
}

#feac::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;          /* خليه يبدأ من الشمال الطبيعي */
  width: 100%;     /* عرض الشاشة كله */
  height: 380px;     /* ياخد طول الـ div نفسه */
  background: var(--one-color);
  box-shadow: 0 0 10px 1px var(--second-bg-color);
  border-radius:0 0 35% 35%;
  z-index: -1;      /* وراء المحتوى */
  
}

.home{
  transform: translateY(-23%);

}
.home h1 { 
  font-size: 2rem;
  width: 320px;
  transform: translatex(15%);
  
}
.home .text p {
  display: none;
  
  
}

.home #right {
 width: 200px;
 
  
}

#canvas{
  width: 100%;
  height: 100%;
}

.home .shop-btn {
  margin-top: 0.6rem;
  transform: translatex(32%);
 
}
}


@media (max-width: 1045px){
  .home h1 { 
  font-size: 1.8rem;
  width: 290px;
   transform: translatex(12%);
}

.home .shop-btn {
  margin-top: 0.6rem;
  transform: translatex(23%);
}
}


@media (max-width: 1020px){
  .home h1 { 
  font-size: 1.7rem;
  width: 270px;
  transform: translatex(9%);
}
.home .shop-btn {
  margin-top: 0.6rem;
  transform: translatex(15%);
}

}
@media (max-width: 967px){
  .home h1 { 
  font-size: 1.7rem;
  width: 250px;
  transform: translatex(6%);
}
.home .shop-btn {
  margin-top: 0.6rem;
  transform: translatex(10%);
}
}

@media (max-width: 950px){
  .home h1 { 
  font-size: 1.7rem;
  width: 230px;
  transform: translatex(4%);
}
.home .shop-btn {
  margin-top: 0.5rem;
  transform: translatex(7%);
}
}
@media (max-width: 910px){
  .home h1 { 
  font-size: 1.6rem;
  width: 215px;
  transform: translatex(8%);
}
.home .shop-btn {
  margin-top: 0.3rem;
  transform: translatex(10%);
}
}









@media (max-width: 807px) {
   
    #canvas{
      position: absolute;
      top:45% ;
      left: 7%;
}
#feac::before{
  height: 400px;
}
   .home h1{
   width: 500px; 
   transform: translatex(5%);
   

    
   }
   .home .text p {
   display: block;
   transform: translatex(5%);
   font-size: 1.05rem;
  
}
#lift{
  display: flex;
  flex-direction: row;
  align-items: center;
   transform: translatey(28%);
}
.home .shop-btn {
 position: relative;
  top: 40px;
  left: -30px;
   width: 90;
}



@media (max-width: 771px){
   .home h1{
   width: 440px; 
    transform: translatex(4%);

}
      .home .text p {
       width: 380px;
      }
      .home .shop-btn {
      left: 8px;  
}
 
}
@media (max-width: 742px){
      .home .shop-btn {
      left: 0px;  
}

}
  @media (max-width: 735px){
      .home .shop-btn {
      left: -5px;  
}
}
  @media (max-width: 721px){
      .home .shop-btn {
      left: -10px;  
}
}
  @media (max-width: 704px){
      .home .shop-btn {
      left: -16px;  
      padding: 0.4rem 1.6rem;
}
}
  @media (max-width: 695px){
      .home .shop-btn {
      left: -20px;  
      
}
}
  @media (max-width: 686px){
       .home h1{
   width: 390px; 
    font-size: 1.4rem;
}
      .home .text p {
       width: 340px;
       font-size: 1rem;

      }

}
}
  @media (max-width: 686px){
       .home h1{
   width: 370px; 
    font-size: 1.3rem;
}
   .home .text p {
       width: 320px;
       font-size: 0.9rem;

      }
    .home .shop-btn {
         left: 9px; 
}
@media (max-width: 643px){
      .home .shop-btn {
         left: 6px; 
}
}

@media (max-width: 633px){
      .home .shop-btn {
         left: 2px; 
}
}
@media (max-width: 601px){
      .home .shop-btn {
         left: -18px; 
        padding: 0.4rem 1.4rem;
}
       .home h1{
   width: 350px; 
    font-size: 1.2rem;
}
   .home .text p {
       width: 300px;
       font-size: 0.8rem;

      }
     #feac::before {
      height: 330px;
     } 


}

@media (max-width: 568px){
      .home .shop-btn {
         left: -18px; 
        padding: 0.3rem 1.1rem;
}
       .home h1{
   width: 320px; 
    font-size: 1.1rem;
}
   .home .text p {
       width: 280px;
       font-size: 0.75rem;

      }
}

@media (max-width: 523px){
      .home .shop-btn {
         left: -10px; 
        padding: 0.3rem 1rem;
}
       .home h1{
   width: 290px; 
    font-size: 1rem;
}
       .home .text p {
       width: 250px;
       font-size: 0.7rem;

      }


}
@media (max-width: 493px){
      .home .shop-btn {
         left: -15px; 
        padding: 0.3rem 1rem;
}


}
@media (max-width: 485px){
      .home .shop-btn {
         left: -20px; 
        padding: 0.25rem 0.95rem;
}



}
@media (max-width: 478px){
      .home .shop-btn {
         left: 8px; 
         top: 30px;
        padding: 0.25rem 0.95rem;
        font-size: 0.85rem;
}
       .home h1{
     width: 260px; 
     font-size: 0.95rem;
}
       .home .text p {
       width: 230px;
       font-size: 0.65rem;

      }
      #feac::before {
      height: 285px;
     }
}
@media (max-width: 458px){
      .home .shop-btn {
         left: 1px; 
      }
}
@media (max-width: 447px){
      .home .shop-btn {
         left: -5px; 
         top: 30px;
        padding: 0.25rem 0.95rem;
        font-size: 0.85rem;
}


       .home .text p {
       width: 230px;
       font-size: 0.65rem;

      }
      #lift{
  
   transform: translatey(25%);
   height: 200px;
   
   padding-bottom: 60px;
}
}
@media (max-width: 435px){
      .home .shop-btn {
         left: -15px; 
      }
}


@media (max-width: 425px){
      .home .shop-btn {
         left: -10px; 
      }
             .home h1{
     width: 230px; 
     font-size: 0.9rem;
}
  .home .text p {
       width: 200px;
       font-size: 0.6rem;

      }
}
@media (max-width: 403px){
      .home .shop-btn {
         left: 13px; 
         top: 10px;
          padding: 0.20rem 0.90rem;
          font-size: 0.8rem;

      }
      #lift{
  
   transform: translatey(18%);
 
      }
             .home h1{
     width: 200px; 
     font-size: 0.95rem;
     margin-bottom: 2px;
}
  .home .text p {
       width: 180px;
       font-size: 0.61rem;
       
      }
      #feac::before {
      height: 275px;
     }
}
 #feac::before {
      height: 255x;
     }


    @media (max-width: 401px){
      .home .shop-btn {
         left: 23px; 
         top: 10px;
          padding: 0.20rem 0.90rem;
          font-size: 0.8rem;

      }
      #lift{
  
   transform: translatey(18%);
 
      }
             .home h1{
     width: 180px; 
     font-size: 0.85rem;
     margin-bottom: 2px;
}
  .home .text p {
       width: 150px;
       font-size: 0.55rem;
       
      }
      #feac::before {
      height: 240px;
     }

 
     
}}



@media (max-width: 389px){
  .home .shop-btn {
         left: 19px;
         }

}
@media (max-width: 384px){
  .home .shop-btn {
         left: 13px;
         }

}
@media (max-width: 377px){
  .home .shop-btn {
         left: 5px;
         }

}
@media (max-width: 361px){
  .home .shop-btn {
         left: -4px;
         }

}
@media (max-width: 361px){
  .home .shop-btn {
         left: -12px;
         }

}

@media (max-width: 351px){
  .home .shop-btn {
         left: -16px;
         padding: 0.18rem 0.85rem;
          font-size: 0.75rem;
        
        }

  @media (max-width: 344px){
  .home .shop-btn {
         left: -19px;
         padding: 0.16rem 0.7rem;
          font-size: 0.7rem;
         }

}
}

